body {
  height: 1366px;
  width: 1024px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
          to bottom,
          rgba(245, 246, 252, 1),
          rgba(80, 127, 255, 0.3)
    		  ),
            url(https://images.pexels.com/photos/2931915/pexels-photo-2931915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);     
  font-family: "montserrat", sans-serif; 
  color: #072C64;
}

.contenedor {
  position: absolute;
  width: 843px;
  height: 1263px;
  left: 20%;
  top: 51px;
  margin: 0 auto;

  background: #E5E5E5;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

h1 {
  justify-content: center;
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

hr {
  display: flex;
  justify-content: center;
  height: 2px;
  background-color: #072C64;
  border: none;
}

.destinoVuelo {
  display: flex;
  justify-content: space-between;
  margin:20%;
  margin-top: 20px;
  font-style: normal;
  font-size: 24px;
}

.linea {
  border-top: 1px solid #072C64;
  height: 5px;
  max-width: 200px;
  padding: 0;
}

.datosVuelo {
position: absolute;
width: 511px;
height: 101px;
left: 257px;
top: 302px;

background: #F4F2F2;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
text-align: center;
}

.equipajeVuelo {
  position: absolute;
  width: 302px;
  height: 27px;
  left: 360px;
  top: 425px;
  
  font-style: normal;
  font-size: 20px;

}

.montoTotal {
  position: absolute;
  width: 300px;
  height: 38px;
  left: 365px;
  top: 568px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.tarjetaBase {
  position: absolute;
  width: 806px;
  height: 512px;
  left: 108px;
  top: 708px;

  background: #F4F2F2;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.tituloTarjeta {
  text-align: center;
  font-style: normal;
  font-size: 24px;
}

.datosTarjeta {
  display: flex;
  flex-direction: column;
}

.textoTarjeta {
  margin-top: 20px;
}

input {
  margin-top: 20px;

  border: 1px solid #398AB9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#numeroTarjeta {
  width: 393px;
  height: 45px;
}

#codigoCvv {
  width: 153px;
  height: 46px;
}

#fechaTarjeta {
  width: 138px;
  height: 45px;
}

#fechaTarjeta2 {
  width: 138px;
  height: 45px;
}

.aviso {
  position: absolute;
  width: 578px;
  height: 38px;
  left: 216px;
  top: 1250px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}